<%= link_to "Home", books_path %>

<h1>Books#edit</h1>

<%= form_with model: @book do |form| %>
  <table>
    <tbody>
      <tr>
        <td>Author</td>
        <td><%= form.text_field :author, placeholder: "author" %></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><%= form.text_field :title, placeholder: "title" %></td>
      </tr>
      <tr>
        <td>Genre</td>
        <td><%= form.select :genre, Book.genres, placeholder: "genre" %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td>$<%= form.number_field :price, step: :any, placeholder: "price" %></td>
      </tr>
      <tr>
        <td>Published Date</td>
        <td><%= form.date_select :published_date, :start_year=>1700,:end_year=>2020, placeholder: "published_date" %></td>
      </tr>
    </tbody>
  </table>
  
  <%= form.submit %>
<% end %>
